*{
    margin: 0;
    text-decoration: none;
  }
main{
    background:#6ecdda;
    margin: 0 auto;
    padding: 0.8rem;
}
#paginaContatoJP{
    background:#6ecdda;
    margin: 0 auto;
    padding: 0.8rem;
    height: 50rem;
}

.centro{
    text-align: center;
}


li.sobre{
    padding: inherit;
    background: #cccbce;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border: 1rem solid transparent;
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
    list-style-type:none;
}
.contato{
    padding: inherit;
    background: #cccbce;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border: 1rem solid transparent;
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
    list-style-type:none;
    text-align: center;
}

.lista{
    padding: inherit;
    background: #cccbce;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border: 1rem solid transparent;
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}
.listaOrdenada{
    padding: inherit;
    background: #cccbce;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border: 1rem solid transparent;
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}

.rodape{
    padding: 0.8rem;
    background: #171718;
    border: 1rem solid transparent;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
    vertical-align: baseline;
    color:rgb(203, 207, 209);
    
}
.sticky{
    float: right;
    position: -webkit-sticky; 
    position: sticky;
    bottom: 3em;
    width: 200px;
    border-radius: 1em;
}
.centroComImg{
    padding: inherit;
    background: #cccbce;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border: 1rem solid transparent;
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
    text-align: center;
}
.pegadinha{
    text-align: center;
    height: 100rem;
}

a{
    color:rgb(29, 131, 134);
    transition: .2s;
}
a:hover{
    color:#e6ff59b2;
}